.eCardMain {
    background: url('../images/photo-wall.jpg') no-repeat center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
}
.divH1 {
    width: 100%;
    height: 20vh;
    padding: 5vh 12vw;
}
.divH1>h1 {
    font-family: 'Knewave', cursive;
    font-size: 50pt;
    color: white;
}
.eCardBody {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.inputAndButton {
    width: 30vw;
    height: 43vh;
}
.inputAndButton label {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24pt;
}
.inputAndButton input {
    width: 30vw;
    height: 30px;
    color: rgb(125, 125, 125);
    font-family: 'Fjalla One', sans-serif;
    font-size: 16pt;
}
textarea:focus, input:focus{
    outline: none;
}
.inputAndButton button:active { outline:none;} 
.inputAndButton button:focus { outline:none;}
.inputAndButton button {
    margin: 20px 35%;
    width: 150px;
    background: rgba(255, 255, 255, 0);
    padding: 10px 0;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-family: 'Knewave', cursive;
    font-size: 14pt;
    -webkit-transition: 0.2s ease-out;
    -moz-transition:  0.2s ease-out;
    transition:  0.2s ease-out;

}
.inputAndButton button:hover {
    background: rgb(125, 125, 125);
    border:3px solid rgb(125, 125, 125);

}
.imgUrlGroup {
    margin-top: 10px;
}
.titleGroup {
    margin-top: 20px;
}

.uploadImgDiv {
    width: 40%;
    height: 43vh;
    min-height: 400px;
    margin-left: 20px;
    border: 20px solid white;
    text-align: center;
    position: relative;
}
.uploadImgDiv>h1 {
    font-family: 'Knewave', cursive;
    font-size: 42pt;
    color: white;
    margin-top: 115px;
}
.uploadImgDiv img {
    max-width: 100%;
    height: 100%;
}