.imgContainer {
    background: rgb(250, 250, 250);
    width: calc(100% - 100px);
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.infoBar {
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
}
.infoBar button {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: rgb(250, 250, 250);
    border: 4px solid black;
    line-height: 0;
    cursor: pointer;
}
.infoBar button:hover {
    color: rgb(250, 250, 250);
    background: black;
    border: 4px solid rgb(250, 250, 250);
}
.imgContainer>img {
    height: 100%;
    display: block;
    margin: 0 auto;
}
#edit {
    float: left;
    font-size: 20pt;
}
#delete {
    float: right;
    font-size: 22pt;
}
.infoBar>h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20pt;
    background: rgb(250, 250, 250);
    max-width: calc(100% - 300px);
    display: block;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}