@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Knewave');

.frontBanner {
  background-color: rgb(50, 50, 50);;
  width: 100%;
  height: 100vh;
  padding-bottom: 10px;
  padding-top: 80px;
  text-align: center;
}
.frontBannerImg {
  opacity: .8;
  background: url('./images/joey-huang-521435-unsplash.jpg') no-repeat center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
}
.navBar li {
  color: white;
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16pt;
  cursor: pointer;

}
.navBar li:hover {
  border-bottom: 1px solid white; 
}
.navBar li:nth-child(1) {
  right: 220px;
  top: 30px;
}
.navBar li:nth-child(2) {
  right: 60px;
  top: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.logoBackground {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  font-family: 'Knewave', cursive;
  padding: 30px 60px;
  font-size: 70pt;
  color: white;
  border: 15px solid white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.397);
}




.transitionBanner {
  position: relative;
  width: 100%;
  height: 390px;
  background: rgb(50, 50, 50);
  line-height: 0;
}
.transitionBanner>h1 {
  position: absolute;
  margin-right: 70vw;
  font-size: 100pt;
  color: black;
  font-family: 'Knewave', cursive;
  z-index: 50;
  left: 100px;
}
.transitionBanner>div {
  height: 80px;
  width: 100%;
}
#d1 {
  height:70px;
  background: rgb(50, 50, 50)
}
#d2 {background: rgb(90, 90, 90); position: relative;}
#d3 {background: rgb(130, 130, 130); position: relative;}
#d4 {background: rgb(170, 170, 170); position: relative;}
#d5 {background: rgb(210, 210, 210); position: relative;}





.topCardContainer, .botCardContainer{
  width: 100%;
  color: white;
  height: 100px;
}
.imgCardDisplay {
  cursor: pointer;
}
.imgCardDisplay:focus {
  width: 100vw;
}
.imgCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}